<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297721731724-i1kch04i4fnh9boeil3ucuv3ap43tm77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297721731724-i1kch04i4fnh9boeil3ucuv3ap43tm77</string>
	<key>API_KEY</key>
	<string>AIzaSyB1Xl8yJs9_gOqswMPgImSxaw_7L21I8LE</string>
	<key>GCM_SENDER_ID</key>
	<string>297721731724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AleksFF.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-37115</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-37115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297721731724:ios:b077c056cfb4c5c3ea79a9</string>
</dict>
</plist>